<h4 class="" [ngClass]="headerClassNames">
    <a [routerLink]="[href, category?.id]">{{category?.metaInfo?.title}}</a>
</h4>
<ul class="spacing-vertical" [ngClass]="listClassNames">
    <li class="" *ngFor="let art of articles">
        <a [routerLink]="[href, category?.id, art?.id]">{{art?.metaInfo?.title}}</a>
    </li>
</ul>
<div class="row right">
    <a [routerLink]="[href, category?.id]">Click to read more related articles
        on <strong>{{category?.metaInfo?.title}}</strong></a>
</div>
