:host {
  overflow: hidden;

  .article-card {
    padding-left: calc(var(--anu-spacing) * 2);
  }

  .moreinfo-card {
    background-color: var(--anu-secondary-lightest);
  }

  .tab-body {
    .tab-item-body {
      display: none;
      flex-direction: column;

      &.active {
        display: flex;
      }
    }
  }
}
