@import 'mixins';

:host {
    .queue {
        display: table;

        &_prompt {
            width: auto;
        }

        &_status {
            width: 9rem;
        }

        &_time-taken {
            width: 4rem;
        }
    }

    .queue-table-container {
        overflow-x: auto;
    }

    .queue-table {
        min-width: 50rem;

        @include small {
            width: auto;
        }

        @include medium {
            width: auto;
        }

        @include large {
            width: 100%;
        }
    }
}