<anu-content-element [enableOpenai]="enableOpenai" (changed)="contentChanged($event)" [editorElement]="value" [fullTree]="value">
</anu-content-element>

<div #popup [ngClass]="{'opened': isTextSelected}" class="popup" [style.top.px]="selectionRect.bottom"
    [style.left.px]="selectionRect.left">
    <anu-toolbar [items]="formattingToolbar" (changed)="formattingToolbarSelected($event)"></anu-toolbar>
    <!-- Link Form Modal-->
    <anu-modal title="Update hyperlink information" [opened]="toggleLinkForm" (cancelClick)="cancelLinkModal()">
        <anu-link-form [href]="link.href" [label]="link.label" [title]="link.title" [target]="link.target"
            (cancel)="cancelLinkModal()" (save)="saveLink($event)">
        </anu-link-form>
    </anu-modal>
    <!-- Image Form Modal-->
    <anu-modal title="Choose an image" [opened]="toggleImageForm"  (cancelClick)="cancelImageModal()">
        <anu-image-form [enableOpenaiAutoImage]="enableOpenai" [src]="imageInfo.src" [alt]="imageInfo.alt" (cancel)="cancelImageModal()"
            (save)="saveImage($event)">
        </anu-image-form>
    </anu-modal>
</div>
