:host {
    display: flex;
    flex-direction: row;
    align-items: center;

    &> article, & div {
        max-width: 100%;
        width: 100%;
    }

    .styles-toolbar {
        position: absolute;
        padding: 0.5rem;
        z-index: 1;
        width: auto;
        visibility: hidden;
        transition: all 0.2s;
        opacity: 0;
        left: -2.5rem;

        &.visible {
            visibility: visible;
            opacity: 0.9;
        }
    }

    .toolbar-btn {
        font-size: 3rem;
        padding: 0;
        margin: -1.5rem 0 -1rem 0;
    }

    anu-toolbar {
        position: absolute;
        width: auto;
        margin-left: 6.5rem;
        transition: all 0.2s;
        transform: scaleX(0);
        display: none;

        &.opened {
            display: block;
            animation: slide 0.2s ease 0s forwards;
        }
    }
}


@keyframes slide {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
  }
