<anu-toolbar
  class="toolbar"
  *ngIf="enableEdit"
  [items]="toolbarItems"
  [size]="'size-sm'"
  (changed)="toolbarChanged($event)"
></anu-toolbar>

<table
  *ngIf="value"
  [ngClass]="value.classNames"
  [style.width]="value.width || 'auto'"
  [style.height]="value.height || 'auto'"
  [cellSpacing]="value.cellSpacing || 'initial'"
  [cellPadding]="value.cellPadding || 'initial'"
>
  <thead *ngIf="value.thRow">
    <th [ngClass]="thCell.classNames" *ngFor="let thCell of value.thRow.cells">
      <p
        contenteditable
        [(ngModel)]="thCell.value"
        tabindex="0"
        (anuFormatInline)="textSelected()"
        (keydown.enter)="enterPressed($event)"
        (keydown.backspace)="backspacePressed($event)"
        (blur)="onBlur($event)"
      ></p>
    </th>
  </thead>
  <tbody>
    <tr [ngClass]="row.classNames" *ngFor="let row of value.rows">
      <td
        [ngClass]="cell.classNames"
        [style.width]="cell.width"
        [style.height]="cell.height"
        *ngFor="let cell of row.cells"
      >
        <p
          contenteditable
          [(ngModel)]="cell.value"
          tabindex="0"
          (anuFormatInline)="textSelected()"
          (keydown.enter)="enterPressed($event)"
          (keydown.backspace)="backspacePressed($event)"
          (blur)="onBlur($event)"
        ></p>
      </td>
    </tr>
  </tbody>
</table>

<anu-modal
  [opened]="showTableForm"
  modalTitle="Table Information"
  okLabel="Update Table"
  [enableOk]="true"
  [enableCancel]="true"
  (okClick)="modalOkClicked($event)"
  (cancelClick)="modalCancelClicked($event)"
>
  <anu-table-form
    [value]="tableInfo"
    (changed)="tableChanged($event)"
  ></anu-table-form>
</anu-modal>
