<div class="container article-view-image-container shadow">
    <img class="article-view-image" *ngIf="value?.image?.src" [src]="value.image.src" [alt]="value.image.alt" />
</div>
<!-- Article heading -->
<h1 class="article-view-heading shadow spacing" [innerHtml]="value?.metaInfo?.title"></h1>
<!-- Article Meta info -->
<small *ngIf="showMetaInfo" class="row nowrap stretch">
    <!-- Implement userInfo Service first then uncomment this code
        <div>
            <strong>Author: </strong><span><small>{{getUserDisplayName(value?.userId)}}</small></span>
        </div>
    -->
    <div>
        <strong>Updated: </strong><span><small>{{utilsSvc.dateToLocalString(value?.updated)}}</small></span>
    </div>
    <!-- <div>
        <strong>Created: </strong><span><small>{{utilsSvc.dateToLocalString(value?.created)}}</small></span>
    </div> -->
</small>
<!-- Article Description -->
<p class="article-view-description" [innerHtml]="value?.metaInfo?.description"></p>
<!-- Article body -->
<anu-article-element [value]="value?.body"></anu-article-element>
