:host {
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, li {
    position: relative;

    &:empty {
        padding-right: 3rem;
        outline: 1px solid var(--anu-primary-lightest);
    }
}
